
:root{
  --series-1: #4d80a6;
  --series-2: #70cfeb;
  --series-3: #8ee9de;
}


html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
 
.chart--container{
  height: 100%;
  width: 100%;
  min-height: 150px;
}
 
.zc-ref{
  display: none;
}

.switch{
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;

  margin: 3%;
}

.switch input{ 
  opacity: 0;
  width: 0;
  height: 0;
}

.switch p{
  white-space: nowrap;
}

.slider{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0061cf;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before{
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider{
  background-color: #f08449;
}

input:focus + .slider {
  box-shadow: 0 0 1px #f08449;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

html[data-theme="vertical"]{
  --series-1-color: #4d80a6;
  --series-2-color: #70cfeb;
  --series-3-color: #8ee9de;
}

html[data-theme="horizontal"]{
  --series-1-color: #ffb52c;
  --series-2-color: #dca1ff;
  --series-3-color: #ffb3e9;
}